In [16]:
from IPython.core.display import HTML
HTML("<link rel='stylesheet' href='path/to/your/style.css' type='text/css'>")

In [34]:
# Fix the error file not supported above by installing xlrd
%pip install xlrd

Requirement already satisfied: xlrd in /opt/anaconda3/envs/NNs/lib/python3.8/site-packages (2.0.1)
Note: you may need to restart the kernel to use updated packages.

# Human Resourece Retention Study: Establishing Factors that Contribute to Employee Turnover

Here we will use machine learning techniques to model and predict employee turnover. We will use various machine learning techniques such as regression and classification to model the data and make prediction about employee turnover. We will use libraries such as scikit-learn and statsmodels to implement these techniques.

<h3 class="styled-heading">Importing Libraries</h3>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [4]:
# Read the data
file_name = "/Users/jasonrobinson/data/datascienceforbusiness_master/hr_data.csv"
df = pd.read_csv(file_name)

In [5]:
df.shape

(14999, 9)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14999 entries, 0 to 14998
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   employee_id            14999 non-null  int64
 1   number_project         14999 non-null  int64
 2   average_montly_hours   14999 non-null  int64
 3   time_spend_company     14999 non-null  int64
 4   Work_accident          14999 non-null  int64
 5   left                   14999 non-null  int64
 6   promotion_last_5years  14999 non-null  int64
 7   department             14999 non-null  object
 8   salary                 14999 non-null  object
dtypes: int64(7), object(2)
memory usage: 1.0+ MB

In [7]:
df.describe()

,employee_id,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years
count,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000
mean,45424.627575,3.803054,201.050337,3.498233,0.144610,0.238083,0.021268
std,25915.900127,1.232592,49.943099,1.460136,0.351719,0.425924,0.144281
min,1003.000000,2.000000,96.000000,2.000000,0.000000,0.000000,0.000000
25%,22872.500000,3.000000,156.000000,3.000000,0.000000,0.000000,0.000000
50%,45448.000000,4.000000,200.000000,3.000000,0.000000,0.000000,0.000000
75%,67480.500000,5.000000,245.000000,4.000000,0.000000,0.000000,0.000000
max,99815.000000,7.000000,310.000000,10.000000,1.000000,1.000000,1.000000

In [8]:
# Determine categorical columns
categorical_columns = [c for c in df.columns if df[c].dtype.name == 'object']
print(categorical_columns)

['department', 'salary']

In [9]:
# Display values in categorical columns
for c in categorical_columns:
    print(c, df[c].unique())

department ['sales' 'accounting' 'hr' 'technical' 'support' 'management' 'IT'
 'product_mng' 'marketing' 'RandD']
salary ['low' 'medium' 'high']

 <h3 class="styled-heading"> Evaluation and Employee Satisfaction Data </h3>

In [11]:
# Uncomment this line if using this notebook locally
emp_satis_eval = pd.read_excel('/Users/jasonrobinson/data/datascienceforbusiness_master/employee_satisfaction_evaluation.xlsx', engine='openpyxl')
emp_satis_eval.head()

   EMPLOYEE #  satisfaction_level  last_evaluation
0        1003                0.38             0.53
1        1005                0.80             0.86
2        1486                0.11             0.88
3        1038                0.72             0.87
4        1057                0.37             0.52